<div>
  <input type="text" readonly #field>
</div>
<div>
  <button (click)="GetNumber('1')">1</button>
  <button (click)="GetNumber('2')">2</button>
  <button (click)="GetNumber('3')">3</button>
  <button (click)="GetPlus()">+</button>
</div>
<div>
  <button (click)="GetNumber('4')">4</button>
  <button (click)="GetNumber('5')">5</button>
  <button (click)="GetNumber('6')">6</button>
  <button (click)="Minus()">-</button>
</div>
<div>
  <button (click)="GetNumber('7')">7</button>
  <button (click)="GetNumber('8')">8</button>
  <button (click)="GetNumber('9')">9</button>
</div>
<div>
  <button (click)="Clear()">Очистить</button>
  <button (click)="Equally()">=</button>
</div>

